<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body class="h-100">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">

                <img src="{% static "img/instagram.png" %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">

                {% block container %}{% endblock%}

            </div>
        </div>
    </div>

<script type="text/javascript">(function(){window['__CF$cv$params']={r:'61db5de79a4d521d',m:'cb197cf00d3d5217e4593e3727688c5da8479f75-1612682620-1800-AXFwz02rBHLuWqLAzkqnUP6lxdIKmVwYXy3KTpVtldfRCoRSAFcjq0dlG46RPyYbPXtuX7ejdQa1OXrU6Jgt9FRf6oZBMRgZGzHsIXnwY9C1sHkHikhg2Nt7OxE5rnEu79kTjikGbtB0VbOb+I6XM1XAbAz09nsfDwq2y8D4DV2LuBfvbB5NcAHUgq+uIqEso9ujuaFLfWolddA0pbUiwNyEoak+MbEXJyIZV9w9NvrN',s:[0xfe58fec9c0,0xbcb3aa9043],}})();</script></body>
</html>